.create {
  cursor: pointer;
  outline: none;
  transition: transform 0.3s;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
}

.create:hover {
  transform: rotate(90deg);
}

.create svg {
  width: 40px;
  height: 40px;
  transition: fill 0.3s, stroke 0.3s;
}

.create svg path {
  stroke-width: 0.5;
}

.create:hover svg {
  fill: #1F2937;
}

.create:active svg {
  stroke: #ffffff;
  fill: #374151;
  transition-duration: 0s;
}