.error-card {
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
}

.error-heading {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.error-description {
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  color: #9fa4aa;
}