.card {
  position: relative;
  background-color: #3D3D3D;
  border: 2px solid #CDEEB5;
  padding: 1rem;
  z-index: 1;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 18rem;
  margin: 0.25rem;
  word-wrap: break-word;
}

.body {
  display: flex;
  flex-direction: column;
}

.body .text {
  margin: 0 10px 0 0;
  white-space: pre-line;
  color: #e6e7f0;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4px;
}

.body .fecha {
  color: #C6E1ED;
  font-size: 0.85em;
  font-weight: 600;
}

.footer {
  position: relative;
  width: 100%;
  color: #9fa4aa;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: left;
  border: none;
  margin-top: 10px;
  gap: 0.5rem
}

.footer button {
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  padding-left: 0.2rem;
  padding-right: 0.3rem;
  border-radius: 10px;
  background: none;
  border: 2px solid #3D3D3D;
  color: white;
  font-size: 12px;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.2rem
}

.footer button:hover {
  background: #818181;
  border: 2px solid #818181;
}

.card-completado {
  border: 2px solid #3D3D3D !important;
}

.card-completado .text {
  text-decoration: line-through;
  color: #c0c3d7;
}

.completar {
  padding-left: 0.4rem;
  border: 2px solid #74a36b !important;
  background: #74a36b !important;
}

.completar:hover {
  border: 2px solid #84b87a !important;
  background: #84b87a !important;
}

.fijar {
  padding-left: 0.4rem;
  border: 2px solid #598AC5 !important;
  background: #598AC5 !important;
}

.fijar:hover {
  border: 2px solid #72b0fc !important;
  background: #72b0fc !important;
}

.delete-button {
  padding-left: 0.4rem;
  border: 2px solid #E74857 !important;
  background-color: #E74857 !important;
}

.delete-button:hover {
  border: 2px solid rgb(255, 99, 115) !important;
  background-color: rgb(255, 99, 115) !important;
}